*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

.title{
    font-size: 2.5rem;
    color: red;
    font-weight: 600;
    text-align: center;
    padding-block: 3vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 5vh;
    color: white;
}

.generate{
    font-size: 1.5rem;
    padding: 1.5vh 2vw;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
}

.generate:hover{
    cursor: pointer;
    background-color: white;
    color: blue;
    outline: 3px solid blue;
    transition: all 300ms ease;
}

.outputData{
    width: 30vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    visibility: hidden;
}

.outputData:hover{
    cursor: pointer;
    color: yellow;
    transition: all 200ms ease;
}

.resultData{
    color: yellow;
    font-weight: bold;
    font-size: 1.5rem;
}